{% extends 'base_dashboard.html.twig' %}

{% block title %}Add New Team{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add New Team</h1>

        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.country) }}
                    {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.country) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.balance) }}
                    {{ form_widget(form.balance, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.balance) }}
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{{ path('team_list') }}" class="btn btn-secondary">Cancel</a>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
